html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

video {
  display: inline;
  object-fit: cover;
  width: 80%;
  height: 80%;
  overflow: hidden;
  object-position: 50% 20%;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  max-width: 320px;
}

.type {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.radio:focus {
  box-shadow: none;
}

input {
  border: 1px solid #7c7c7c;
  border-radius: 4px;
  padding: 12px;
  outline: none;
}

input:focus {
  box-shadow: 0 0 5px 2px #524c4c;
}

.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  text-align: center;
  padding-block: 8px;
  border: 1px solid #7c7c7c;
  border-radius: 9999px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  margin: 0.4rem 0;
  transition: transform 0.2s ease;
}

.link-btn::before {
  content: "";
  display: inline-block;
  width: 24px;
  margin: auto 1.8rem;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.google::before {
  background-image: url(assets/google-icon.svg);
}

.apple::before {
  background-image: url(assets/apple-icon.svg);
}

.link-btn:hover {
  transform: scale(1.2);
}

h1::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url(assets/open-book-bookmarked.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto 2rem auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.btn {
  border-radius: 9999px;
  padding-block: 8px;
  padding-inline: 16px;
  border: none;
}

.or {
  text-align: center;
  margin: 1.8rem 0;
  font-size: 1.5rem;
}

.next {
  background-color: #1ed760;
  color: #000;
  margin: 0.8rem 0 0;
  font-weight: 600;
  width: 260px;
  padding-inline: 32px;
  padding-block: 8px;
}

.next:hover {
  background-color: #2de76e;
  cursor: pointer;
}

.followup {
  text-align: center;
  margin: 1.8rem 0 0.4rem;
  color: #423b3b;
  font-size: 1.2rem;
}

.log-link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: transform 0.2s ease;
}

.log-link:hover {
  transform: scale(1.1);
}

/* mobile first */

.bookclub-one {
  display: block;
}

.bookclub-three {
  display: none;
}

/* At 570px and up: show the big video */
@media (min-width: 570px) {
  .bookclub-one {
    display: none;
  }
  .bookclub-three {
    display: block;
  }


/* stop cropping the video after break point */
@media (min-width: 1300px) {
  video {
    object-fit: contain;
  }
}
